@{
    ViewData["Title"] = "Order History";
    Layout = "~/Views/Shared/SideBar.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/history.css" />
</head>

<h1>@ViewData["Title"]</h1>

<div class="order-history-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Tour Name</th>
                <th>Price</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in ViewBag.Orders)
            {
                <tr>
                    <td>@order.ID</td>
                    <td>@order.Client.Name</td>
                    <td>@order.Tour.Name</td>
                    <td>@order.Data.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
